<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.report.mange.system.mybatis.PaymentCollectInfoDeptRelMapper">
  <resultMap id="BaseResultMap" type="com.report.mange.system.model.PaymentCollectInfoDeptRel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="payment_id" jdbcType="BIGINT" property="paymentId" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <insert id="savePaymentCollectInfoDeptRelAdd" parameterType="com.report.mange.system.model.PaymentCollectInfoDeptRel">
    insert into payment_collect_info_dept_rel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="paymentId != null">
        payment_id,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="creator != null and creator != ''">
        creator,
      </if>
      <if test="modifier != null and modifier != ''">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="paymentId != null">
        #{paymentId},
      </if>
      <if test="deptId != null">
        #{deptId},
      </if>
      <if test="creator != null and creator != ''">
        #{creator},
      </if>
      <if test="modifier != null and modifier != ''">
        #{modifier},
      </if>
    </trim>
  </insert>

  <select id="queryPaymentCollectInfoDeptName" resultType="java.lang.String" parameterType="java.lang.Long">
    SELECT
    t2.dept_name
    FROM
    payment_collect_info_dept_rel t1
    INNER JOIN  report_dept t2 ON t1.dept_id = t2.dept_id
    <where>
      AND t2.is_deleted = 0
      <if test="paymentId != null">
        AND t1.payment_id = #{paymentId}
      </if>
    </where>
    GROUP BY t2.dept_name
  </select>


  <select id="queryClaimDept" resultType="com.report.mange.system.vo.ReportDeptVO" parameterType="java.lang.Long">
    SELECT
    t4.dept_id,
    t4.dept_name
    FROM
    report_cost_breakdown_rule t1
    LEFT JOIN report_cost_breakdown_rule_detail t2 ON t1.fee_rule_id = t2.fee_rule_id  AND t2.is_deleted = 0
    LEFT JOIN report_cost_breakdown_rule_dept_rel t3 ON ( t1.fee_rule_id = t3.rule_id OR t2.fee_rule_detail_id = t3.rule_id )
    INNER JOIN report_dept t4 ON t3.dept_id = t4.dept_id
    <where>
      AND t1.is_deleted = 0
      AND t1.is_enable = 1
      <if test="conId != null">
        AND t1.con_id = #{conId}
      </if>
    </where>
    GROUP BY t4.dept_id
  </select>


  <select id="getSystemSubjectByDept" resultType="com.report.mange.system.dto.ReportCostBreakdownRuleDTO" parameterType="com.report.mange.system.dto.SystemSubjectByDeptDTO">
    SELECT
    t1.fee_rule_id,
    t1.fee_rule_code,
    t1.system_subject,
    t1.standard_proportion,
    t1.budget_proportion,
    t1.amount,
    t3.is_level
    FROM
    report_cost_breakdown_rule t1
    INNER JOIN report_cost_breakdown_rule_dept_rel t2 ON t1.fee_rule_id = t2.rule_id
    INNER JOIN system_subject_basic_info t3 ON t1.fee_rule_code = t3.system_subject_code
    <where>
      AND t1.is_deleted = 0
      AND t1.is_enable = 1
      <if test="conId != null">
        AND t1.con_id = #{conId}
      </if>
      <if test="deptId != null">
        AND t2.dept_id = #{deptId}
      </if>
    </where>
  </select>


  <select id="queryPaymentCollectDetail" resultType="com.report.mange.system.dto.PaymentCollectDetailDTO" parameterType="com.report.mange.system.model.PaymentCollectInfo">
    SELECT
    t1.payment_id
    t2.fee_rule_id,
    t2.con_id,
    t2.fee_rule_code,
    t2.system_subject,
    t2.standard_proportion,
    t2.budget_proportion,
    t1.allocat_amount,
    t2.amount
    FROM
    payment_collect_result t1
    INNER JOIN report_cost_breakdown_rule t2 ON t1.fee_rule_id = t2.fee_rule_id AND t2.is_deleted = 0
    <where>
      AND t1.is_deleted = 0
      <if test="paymentId != null">
        AND t1.payment_id = #{paymentId}
      </if>
    </where>
  </select>

  <select id="queryPaymentCollectInfoDept" resultType="com.report.mange.system.model.ReportDept" parameterType="java.lang.Long">
    SELECT
    t2.dept_name
    FROM
    payment_collect_info_dept_rel t1
    INNER JOIN  report_dept t2 ON t1.dept_id = t2.dept_id
    <where>
      AND t2.is_deleted = 0
      <if test="paymentId != null">
        AND t1.payment_id = #{paymentId}
      </if>
    </where>
    GROUP BY t2.dept_name
  </select>
</mapper>