<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.report.mange.system.mybatis.ReportCostBreakdownRuleMapper">
  <resultMap id="BaseResultMap" type="com.report.mange.system.model.ReportCostBreakdownRule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="fee_rule_id" jdbcType="BIGINT" property="feeRuleId" />
    <result column="con_id" jdbcType="BIGINT" property="conId" />
    <result column="fee_rule_code" jdbcType="VARCHAR" property="feeRuleCode" />
    <result column="system_subject" jdbcType="VARCHAR" property="systemSubject" />
    <result column="standard_proportion" jdbcType="VARCHAR" property="standardProportion" />
    <result column="budget_proportion" jdbcType="VARCHAR" property="budgetProportion" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>