<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.report.mange.system.mybatis.ReportCostBreakdownRuleDeptRelMapper">
  <resultMap id="BaseResultMap" type="com.report.mange.system.model.ReportCostBreakdownRuleDeptRel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rule_id" jdbcType="BIGINT" property="ruleId" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <insert id="saveReportCostBreakdownRuleDeptRelAdd" parameterType="com.report.mange.system.model.ReportCostBreakdownRuleDeptRel">
    insert into report_cost_breakdown_rule_dept_rel
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="ruleId != null">
        rule_id,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="creator != null and creator != ''">
        creator,
      </if>
      <if test="modifier != null and modifier != ''">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ruleId != null">
        #{ruleId},
      </if>
      <if test="deptId != null">
        #{deptId},
      </if>
      <if test="creator != null and creator != ''">
        #{creator},
      </if>
      <if test="modifier != null and modifier != ''">
        #{modifier},
      </if>
    </trim>
  </insert>

  <select id="queryReportCostBreakdownRuleDept" resultType="java.lang.String" parameterType="java.lang.Long">
    SELECT
    t2.dept_name
    FROM
    report_cost_breakdown_rule_dept_rel t1
    INNER JOIN  report_dept t2 ON t1.dept_id = t2.dept_id
    <where>
      AND t2.is_deleted = 0
      <if test="ruleId != null">
        AND t1.rule_id = #{ruleId}
      </if>
    </where>
    GROUP BY t2.dept_name
  </select>

  <select id="queryReportCostBreakdownRuleDeptId" resultType="java.lang.String" parameterType="java.lang.Long">
    SELECT
    t2.dept_id
    FROM
    report_cost_breakdown_rule_dept_rel t1
    INNER JOIN  report_dept t2 ON t1.dept_id = t2.dept_id
    <where>
      AND t2.is_deleted = 0
      <if test="ruleId != null">
        AND t1.rule_id = #{ruleId}
      </if>
    </where>
    GROUP BY t2.dept_name
  </select>

</mapper>