<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.report.mange.system.mybatis.ReportConMapper">
  <resultMap id="BaseResultMap" type="com.report.mange.system.model.ReportCon">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="con_id" jdbcType="BIGINT" property="conId" />
    <result column="con_name" jdbcType="VARCHAR" property="conName" />
    <result column="con_code" jdbcType="VARCHAR" property="conCode" />
    <result column="con_type1" jdbcType="INTEGER" property="conType1" />
    <result column="con_type2" jdbcType="INTEGER" property="conType2" />
    <result column="project_report_code" jdbcType="VARCHAR" property="projectReportCode" />
    <result column="con_year" jdbcType="INTEGER" property="conYear" />
    <result column="con_filing_date" jdbcType="DATE" property="conFilingDate" />
    <result column="project_sign_date" jdbcType="DATE" property="projectSignDate" />
    <result column="business_segments" jdbcType="VARCHAR" property="businessSegments" />
    <result column="opposite_org_name" jdbcType="VARCHAR" property="oppositeOrgName" />
    <result column="opposite_org_code" jdbcType="VARCHAR" property="oppositeOrgCode" />
    <result column="tax_amt" jdbcType="VARCHAR" property="taxAmt" />
    <result column="submit_profit_rate" jdbcType="VARCHAR" property="submitProfitRate" />
    <result column="budget_subcontract_amt" jdbcType="VARCHAR" property="budgetSubcontractAmt" />
    <result column="sign_department" jdbcType="VARCHAR" property="signDepartment" />
    <result column="business_map" jdbcType="VARCHAR" property="businessMap" />
    <result column="org_address" jdbcType="VARCHAR" property="orgAddress" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>

  <insert id="saveReportConAdd" parameterType="com.report.mange.system.model.ReportCon">
    insert into report_con
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="conId != null">
        con_id,
      </if>
      <if test="conName != null and conName != ''">
        con_name,
      </if>
      <if test="conCode != null and conCode != ''">
        con_code,
      </if>
      <if test="conType1 != null">
        con_type1,
      </if>
      <if test="conType2 != null">
        con_type2,
      </if>
      <if test="projectReportCode != null and projectReportCode != ''">
        project_report_code,
      </if>
      <if test="conYear != null">
        con_year,
      </if>
      <if test="conFilingDate != null">
        con_filing_date,
      </if>
      <if test="projectSignDate != null">
        project_sign_date,
      </if>
      <if test="businessSegments != null and businessSegments != ''">
        business_segments,
      </if>
      <if test="oppositeOrgName != null and oppositeOrgName != ''">
        opposite_org_name,
      </if>
      <if test="oppositeOrgCode != null and oppositeOrgCode != ''">
        opposite_org_code,
      </if>
      <if test="taxAmt != null and taxAmt != ''">
        tax_amt,
      </if>
      <if test="submitProfitRate != null and submitProfitRate != ''">
        submit_profit_rate,
      </if>
      <if test="budgetSubcontractAmt != null and budgetSubcontractAmt != ''">
        budget_subcontract_amt,
      </if>
      <if test="signDepartment != null and signDepartment != ''">
        sign_department,
      </if>
      <if test="businessMap != null and businessMap != ''">
        business_map,
      </if>
      <if test="orgAddress != null and orgAddress != ''">
        org_address,
      </if>
      <if test="creator != null and creator != ''">
        creator,
      </if>
      <if test="modifier != null and modifier != ''">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="conId != null">
        #{conId},
      </if>
      <if test="conName != null and conName != ''">
        #{conName},
      </if>
      <if test="conCode != null and conCode != ''">
        #{conCode},
      </if>
      <if test="conType1 != null">
        #{conType1},
      </if>
      <if test="conType2 != null">
        #{conType2},
      </if>
      <if test="projectReportCode != null and projectReportCode != ''">
        #{projectReportCode},
      </if>
      <if test="conYear != null">
        #{conYear},
      </if>
      <if test="conFilingDate != null">
        #{conFilingDate},
      </if>
      <if test="projectSignDate != null">
        #{projectSignDate},
      </if>
      <if test="businessSegments != null and businessSegments != ''">
        #{businessSegments},
      </if>
      <if test="oppositeOrgCode != null and oppositeOrgCode != ''">
        #{oppositeOrgCode},
      </if>
      <if test="oppositeOrgName != null and oppositeOrgName != ''">
        #{oppositeOrgName},
      </if>
      <if test="taxAmt != null and taxAmt != ''">
        #{taxAmt},
      </if>
      <if test="submitProfitRate != null and submitProfitRate != ''">
        #{submitProfitRate},
      </if>
      <if test="budgetSubcontractAmt != null and budgetSubcontractAmt != ''">
        #{budgetSubcontractAmt},
      </if>
      <if test="signDepartment != null and signDepartment != ''">
        #{signDepartment},
      </if>
      <if test="businessMap != null and businessMap != ''">
        #{businessMap},
      </if>
      <if test="orgAddress != null and orgAddress != ''">
        #{orgAddress},
      </if>
      <if test="creator != null and creator != ''">
        #{creator},
      </if>
      <if test="modifier != null and modifier != ''">
        #{modifier},
      </if>
    </trim>
  </insert>

  <update id="saveReportConModify" parameterType="com.report.mange.system.model.ReportCon">
    UPDATE report_con
    <set>
      <if test="conName != null and conName != ''">
        con_name = #{conName},
      </if>
      <if test="conCode != null and conCode != ''">
        con_code = #{conCode},
      </if>
      <if test="conType1 != null">
        con_type1 = #{conType1},
      </if>
      <if test="conType1 != null">
        con_type2 = #{conType2},
      </if>
      <if test="projectReportCode != null and projectReportCode != ''">
        project_report_code = #{projectReportCode},
      </if>
      <if test="conYear != null">
        con_year = #{conYear},
      </if>
      <if test="conFilingDate != null">
        con_filing_date = #{conFilingDate},
      </if>
      <if test="projectSignDate != null">
        project_sign_date = #{projectSignDate},
      </if>
      <if test="businessSegments != null and businessSegments != ''">
        business_segments = #{businessSegments},
      </if>
      <if test="oppositeOrgName != null and oppositeOrgName != ''">
        opposite_org_name = #{oppositeOrgName},
      </if>
      <if test="oppositeOrgCode != null and oppositeOrgCode != ''">
        opposite_org_code = #{oppositeOrgCode},
      </if>
      <if test="taxAmt != null and taxAmt != ''">
        tax_amt = #{taxAmt},
      </if>
      <if test="submitProfitRate != null and submitProfitRate != ''">
        submit_profit_rate = #{submitProfitRate},
      </if>
      <if test="budgetSubcontractAmt != null and budgetSubcontractAmt != ''">
        budget_subcontract_amt = #{budgetSubcontractAmt},
      </if>
      <if test="signDepartment != null and signDepartment != ''">
        sign_department = #{signDepartment},
      </if>
      <if test="businessMap != null and businessMap != ''">
        business_map = #{businessMap},
      </if>
      <if test="orgAddress != null and orgAddress != ''">
        org_address = #{orgAddress},
      </if>
      <if test="modifier != null and modifier != ''">
        modifier = #{modifier},
      </if>
    </set>
    <where>
      <if test="id != null ">
        AND id = #{id}
      </if>
      <if test="conId != null ">
        AND con_id = #{conId}
      </if>
    </where>
  </update>


  <select id="queryReportCon" resultType="com.report.mange.system.model.ReportCon" parameterType="com.report.mange.system.query.ReportConQuery">
    SELECT
      t1. id,
      t1.con_id,
      t1.con_name,
      t1.con_code,
      t1.con_type1,
      t1.con_type2,
      t1.project_report_code,
      t1.con_year,
      t1.con_filing_date,
      t1.project_sign_date,
      t1.business_segments,
      t1.opposite_org_name,
      t1.opposite_org_code,
      t1.tax_amt,
      t1.submit_profit_rate,
      t1.budget_subcontract_amt,
      t1.sign_department,
      t1.business_map,
      t2.FULL_NAME AS org_address,
      t1.modifier,
      t1.modify_time,
      t1.creator,
      t1.create_time
    FROM
    report_con t1
    INNER JOIN  district_info t2 ON t1.org_address = t2.CODE
    <where>
      AND t1.is_deleted = 0
      <if test="conId != null">
        AND t1.con_id = #{conId}
      </if>
      <if test="conName != null and conName != ''">
        AND t1.con_name =  like concat('%', #{conName}, '%')
      </if>
      <if test="orgAddress != null and orgAddress != ''">
        AND t1.org_address = = #{orgAddress}
      </if>
    </where>
  </select>



  <select id="queryAllReportCon" resultType="com.report.mange.system.vo.ReportConVO">
    SELECT
    con_name,
    con_code
    FROM
    report_con
    <where>
      AND is_deleted = 0
      <if test="conId != null">
        AND con_id = #{conId}
      </if>
      <if test="conName != null and conName != ''">
        AND con_name =  like concat('%', #{conName}, '%')
      </if>
      <if test="orgAddress != null and orgAddress != ''">
        AND org_address =  like concat('%', #{orgAddress}, '%')
      </if>
    </where>
  </select>

</mapper>